{% extends 'index.html' %}
{% load static %}


{% block main %}
<section class="home-section home-parallax home-fade home-full-height bg-dark bg-dark-30" id="home" data-background="assets/images/section-4.jpg">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-4">Error {{ error_code }}</div>
      <div class="font-alt">{{ error_message }}</div>
      {% if error_code == '404' %}
      <div class="font-alt mt-30"><a class="btn btn-border-w btn-round" href="{% url 'home' %}">Back to home page</a></div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
